function ifelse.test 0
push argument 0
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
push constant 5
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 0
push constant 8
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 7
return
goto IF_END2
label IF_FALSE2
push constant 4
return
label IF_END2
goto IF_END2
label IF_FALSE2
push constant 9
return
label IF_END2
goto IF_END2
label IF_FALSE2
push constant 0
return
label IF_END2
